.btn {
    margin-right:10px;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
  }

  img{
      width: 100%;
  }

  .modal-body img {
      height: 150px;
  }