<main role="main" class="container">    
    <div class="sticky-top text-center">
        <button class="btn btn-primary" (click)="startWebcam();"><i class="material-icons">camera</i>{{(!showWebcam)?"Activate Camera":"Deactivate Camera"}}</button>
        <button class="btn btn-secondary" [disabled]=!showWebcam (click)="triggerSnapshot();"><i class="material-icons">touch_app</i>Take Picture</button>               
    </div>
    <ng-template #error_Modal_Template>
        <div class="modal-header">
            <div class="alert alert-warning" role="alert">
                <strong>{{status}}:</strong> No similar image was found on our database!
            </div>        
        </div>   
        <div class="modal-body">
            <img [src]="webcamImage.imageAsDataUrl"/>
        </div>            
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">Ok</button>
        </div>                 
    </ng-template>    
    <ng-template #success_Modal_Template>
        <div class="modal-header">
            <div class="alert alert-success" role="alert">
                <strong>{{status}}:</strong> Welcome {{name}}!
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p><strong>Current Image</strong></p>
                        <img [src]="webcamImage.imageAsDataUrl"/>
                    </div>
                    <div class="col-sm">
                        <p><strong>Database Image</strong></p>
                        <img [src]=origImage/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>We are <strong>{{confidenceLevel}} % </strong> sure that this image is identifed as <strong>{{name}}</strong>.</p>
                    </div>
                </div>                
            </div>          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">Ok</button>
        </div>        
    </ng-template>    
    <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{(!showWebcam)?"Turn on Camera":"Scan Image"}}</h1>
                <p class="centered">{{seconds}}</p>
                <webcam *ngIf="showWebcam"
                (imageCapture)="handleImage($event)"
                (initError)="handleInitError($event)"
                [trigger]="triggerObservable"
                [mirrorImage]="mirrorImage" ></webcam>  
                <h4 *ngIf="errors.length > 0">Messages:</h4>
                <ul *ngFor="let error of errors">
                    <li class="alert alert-danger">{{error | json}}</li>
                </ul>          
            </div>
    </section> 
</main>

