<div class="card">
        <div class="card-body">
          <form [formGroup]="angForm" novalidate>


          <div class="form-group">
              <div [hidden]="isEditImg">
                  <button (click) = "editImageBtn()" type="button" class="btn btn-primary">
                    Edit Image
                  </button>
              </div>
              <div [hidden]="!isEditImg">
                  <input formControlName="ProductFile" #file type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="previewImage(file.files)" />
              </div>
              <div [hidden]="!uploadPercent">
                  <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}"></mat-progress-bar>
              </div>
              <div [hidden]="!imgURL">
                  <img [src]="imgURL || '//:0'" height="200" >
              </div>
              <div *ngIf="angForm.controls['ProductFile'].invalid && (angForm.controls['ProductFile'].dirty || angForm.controls['ProductFile'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['ProductFile'].errors.required">
                    File is required.
                  </div>
                </div>              
            </div>

            <div class="form-group">
              <label class="col-md-4">Product Name</label>
              <input type="text" class="form-control" 
                formControlName="ProductName" 
                #ProductName 
                [(ngModel)] = "product.ProductName"/>
            </div>
            <div *ngIf="angForm.controls['ProductName'].invalid && (angForm.controls['ProductName'].dirty || angForm.controls['ProductName'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['ProductName'].errors.required">
                Product Name is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Product Description </label>
              <textarea class="form-control" rows = 7 cols = "5"
              formControlName="ProductDescription" 
              #ProductDescription [(ngModel)] = "product.ProductDescription"></textarea>
            </div>
            <div *ngIf="angForm.controls['ProductDescription'].invalid && (angForm.controls['ProductDescription'].dirty || angForm.controls['ProductDescription'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['ProductDescription'].errors.required">
                Product Description is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Product Price</label>
              <input type="text" class="form-control" 
                formControlName="ProductPrice" 
                #ProductPrice
                [(ngModel)] = "product.ProductPrice"
              />
            </div>
            <div *ngIf="angForm.controls['ProductPrice'].invalid && (angForm.controls['ProductPrice'].dirty || angForm.controls['ProductPrice'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['ProductPrice'].errors.required">
                Product Price is required.
              </div>
            </div>
            <div *ngIf="isNewImgUploaded == false" class="form-group">
                <button (click) = "updateProduct(ProductName.value, ProductDescription.value, ProductPrice.value)" type="button" class="btn btn-primary"
                [disabled]="angForm.invalid" >
                  Update Product
                </button>
            </div>
            <div *ngIf="isNewImgUploaded == true" class="form-group">
                <button (click) = "updateProduct(ProductName.value, ProductDescription.value, ProductPrice.value)" type="button" class="btn btn-primary"
                [disabled]="angForm.invalid || !uploader.getNotUploadedItems().length">
                  Update Product
                </button>
            </div>
          </form>
        </div>
      </div>